.mobile-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ;

    &.is-open{
        transform: translateX(0);
    }
}

.close-burger-button{
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(1, 28, 68, 1);
    top: 16px;
    right: 20px;
}

.pagination{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &__button{
        background: rgba(116, 114, 114, 1);
        border-radius: 50%;
        width: 15px;
        height: 15px;
        cursor: pointer;
        }
    

    &__button:hover{
        background: rgba(43, 127, 255, 1);
    }
}