/* footer */

.contact-information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 1440px;
    height: 280px;
    background: rgba(1, 28, 68, 1);

    @media screen and (max-width: 480px){
        width: 360px;
        height: 390px;
    }
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: auto;
    width: 1240px;
    height: 166px;

    @media screen and (max-width: 480px){
       justify-content: space-around;
        width: 180px;
            height: 290px;
            flex-direction: column;
            align-items: center;
            text-align: center;
    }
}

.logo-footer {
    width: 83px;
    height: 42px;
    font-family: Play;
    font-size: 24px;
    font-weight: 700;
    color: rgba(43, 127, 255, 1);

    @media screen and (max-width: 480px){
        width: 57px;
        height: 30px;
        font-size: 16px;
    }
}

.footer-links {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;

    @media screen and (max-width: 480px){
        font-size: 14px;
    }
}

.info-about-us {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 200px;
    height: 125px;
    gap: 16px;
}

.address-footer {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 166px;
    gap: 16px;

    @media screen and (max-width: 480px){
        display: none;
    }
}

.policy-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 203px;
    height: 50px;
}

.policy-footer-paragraf {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    color: rgba(116, 114, 114, 1);

    @media screen and (max-width: 480px){
        margin: 0;
    }
}
.footer-icons{
    width: 160px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;
}
 .footer-image {
    display: block;
     background-image: url(../Photos/footer-image.svg);
     background-repeat: no-repeat;
     position: absolute;
     width: 278px;
     height: 213px;
     right: 100px;
     top: 3165px;

    @media screen and (max-width: 480px){
        display: none;
    }
 }

 .mobile-footer-icons {
    display: none;
     

    @media screen and (max-width: 480px){
        width: 136px;
        height: 32px;
        padding-left: 32px;
        display: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin: 0;
    }
 }