
/*special-items*/
span{
    color: rgba(43, 127, 255, 1);
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}

main{
   margin: auto;
    display: block;
    width: 1440px;
}
.container{
    margin: auto;
}
/* 
.background-svg{
    margin: auto;
    display: block;
    position: absolute;
    width: 1850px;
    height: 1785px;
    left: 1200px;
    top: 1300px;

} */

/* header*/
header {
    margin: auto;
    display: block;
    background-image: url("../Photos/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    width: 100%;
    max-height: 1900px;
    height: 700px;
}
.logo {
    width: 83px;
    height: 42px;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 21px;
    text-transform: capitalize;
    color: #2B7FFF;
    display: block;
}
.navigation{
    width: 100%;
    height: 106px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);;
}

.navigation-text-color{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

.about-us{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.extra-info{
    width: 525px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    width: 160px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}
h1 {
    color: rgba(43, 127, 255, 1);
    font-family: Play;
    font-size: 140px;
    font-weight: 700;
    line-height: 114px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
}

.call-button {
    font-family: Roboto;
    width: 220px;
    height: 50px;
    border-radius: 32px;
    color: white;
    background-color: rgba(43, 127, 255, 1);
    border: 1px solid black;
    cursor: pointer;
    transition: color 0.2s ease;
}

.call-button:hover{
    color: rgba(1, 28, 68, 1);
    background-color: transparent;
    border: 2px solid rgba(43, 127, 255, 1);
}

.call{
    width: 529px;
   padding-left: 206px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.call-paragraf{
    width: 200px;
    height: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.description{
    width: 240px;
    height: 36px;
}

/* main-first section*/
.first-section{margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 1240px;
    height: 700px;
    gap: 20px;
}



.first-section-text-information{
    width: 710px;
    height: 450px;
    padding: 30px;
}

.title-first-section{
    font-family: Play;
    font-size: 65px;
    font-weight: 700;
    width: 530px;
    height: 150px;
}

.first-paragraf-fist-section{
    width: 700px;
    height: 75px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
}

.second-paragraf-fist-section{
    width: 700px;
    height: 150px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
}

.first-paragraf-images{
    width: 500px;
    height: 695px;
}
.first-paragraf-images-second-image{
    display: flex;
    flex-direction: row-reverse;
}

/* main-second-section*/

.second-section {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    text-align: center;
    width: 1100px;
    height: 380px;
    margin: auto;
}

.title-correction{
    display: flex;
    justify-content: center;
}
.title-second-section {
    text-align: center;
    width: 440px;
    height: 150px;
    font-family: Play;
    font-size: 64px;
    font-weight: 700;
    margin: auto;
}

.text-second-section{
display: flex;
justify-content: space-between;
}

.squares{
    width: 316px;
    height: 180px;
    border-radius: 32px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.squares-content{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 252px;
    height: 133px;
    gap: 8px;
}

/* main-third-section*/
.main-third-section{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    max-width: 1216px;
    height: 500px;
}

.arrowes-button-1{
    display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        align-self: flex-start;
        width: 44px;
        height: 44px;
        background: transparent;
        border: 1px solid black;
        border-radius: 50%;
}

.arrowes-1{
fill: rgba(255, 255, 255, 1);
width: 16px;
height: 1px;
border: 2px solid rgba(1, 28, 68, 1)
}

.arrowes-button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-self: flex-end;
    width: 44px;
    height: 44px;
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;
}

.arrowes-2{
fill: rgba(255, 255, 255, 1);
    width: 16px;
    height: 1px;
    border: 2px solid rgba(1, 28, 68, 1);
}

.title-third-section{
    position: relative;
    text-align: center;
    width: 510px;
    height: 75px;
    margin: auto;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
}

.images-third-section{
    margin: auto;
display: flex;
flex-direction: row;
align-self: flex-end;
max-width: 1200px;
height: 500px;
}
.images-correction-third-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0%;
}

/* main-last-section*/

.main-last-section{
display: flex;
align-self: center;
flex-direction: column;
width: 1060px;
height: 600px;
margin: auto;
}

.main-last-section-title{
    position: relative;
    text-align: center;
    width: 500px;
    height: 75px;
    margin: 20px auto;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
}

.map-and-contacts-info{
    display: flex;
    justify-content: space-between;
   
}

.contact-and-info{
    width: 420px;
    height: 482px;
    border-radius: 32px;
    background-color: rgba(1, 28, 68, 1);
    border: 4px solid rgba(1, 31, 74, 1)
}

.contact-form{
    text-align: center;
    width: 310px;
    height: 385px;
    margin: auto;
}
.contact-form-title{
    text-align: center;
    width: 300px;
    height: 52px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}

.appointment{
    width: 310px;
    height: 300px;
}
.form-settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.input-settings{
    padding-left: 30px;
    width: 310px;
    height: 52px;
    border-radius: 32px;
    border: 2px solid rgba(116, 114, 114, 1);
    background-color: transparent;
    color: white;
    border: 2px solid #747272;
    transition: color 3s ease;
}

.input-settings::placeholder{
    color: white;
}

.input-settings:hover{
    border: 2px solid #747272;
    background-color: #747272;

}

.submit-settings{
    margin: auto;
    margin-bottom: 5px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    color: rgba(250, 244, 234, 1);
    width: 280px;
    height: 53px;
    border: 1px solid black;
    border-radius: 32px;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
    background-color: rgba(43, 127, 255, 1);
    transition: color 5s ease;
}

.submit-settings:hover{
    background-color: transparent;
    border: 2px solid rgba(43, 127, 255, 1);
}

.appointment-paragraf{
    text-align: center;
    width: 220px;
    height: 35px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    color: rgba(116, 114, 114, 1);
    margin: auto;
}

.map{
    width: 600px;
    height: 490px;
    border-radius: 32px;
}

/* footer */

.contact-information{
display: flex;
justify-content: center;
align-items: center;
margin: 50px auto;
width: 1440px;
height: 280px;
background: rgba(1, 28, 68, 1);
}

.footer-section{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: auto;
    width: 1240px;
    height: 166px;
}

.logo-footer{
    width: 83px;
    height: 42px;
    font-family: Play;
    font-size: 24px;
    font-weight: 700;
    color: rgba(43, 127, 255, 1);
}

.footer-links{
    color: rgba(255, 255, 255, 1);;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
.info-about-us{
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 200px;
    height: 125px;
    gap: 16px;
}

.address-footer{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 166px;
    gap: 16px;
}

.policy-footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 203px;
    height: 50px;
}

.policy-footer-paragraf{
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    color: rgba(116, 114, 114, 1);
}

/* Call-order-window */

.backdrop{
position: fixed;
margin: auto;
width: 100%;
height: 100%;
max-width: 1440px;
max-height: 1024px;
left: 0;
bottom: 0;
right: 0;
top: 0;
background-color: rgba(1, 31, 74, 0.4);
overflow-y: auto;
}

.is-hidden{
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.backdrop-window{
display: flex;
justify-content: center;
align-items: center;
margin: auto;
position: relative;
width: 723px;
height: 681px;
top: 171px;
left: auto;
border-radius: 48px 0px 0px 0px;
}

.close-button{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 42px;
    left: 500px;
    padding: 8px 0px 0px 0px;
    background-color: transparent;
    color: white;
}
