/* header*/
.header{
    margin: auto;
    display: block;
    background-image: url("../Photos/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    width: 100%;
    max-height: 1900px;
    height: 700px;

    @media screen and (max-width: $bp--desktop) {
         height: 330px;
        }

    &__navigation {
            width: 100%;
            height: 106px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.25);
            
        }
    
        &__navigation {
            width: 100%;
            height: 106px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.25);
            
            @media screen and (max-width: $bp--desktop) {
                margin: auto;
                width: 90%;
                    justify-content: space-between;
                    background-color: transparent;
        }
    }
        &__logo {
            width: 83px;
            height: 42px;
            font-family: 'Play';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 21px;
            text-transform: capitalize;
            color: #2B7FFF;
            display: block;
        }
    
        &__navigation-text-color {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: rgba(0, 0, 0, 1);
        }
    
        &__about-us {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
        }
    
        &__extra-info {
            width: 525px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media  screen and (max-width: $bp--desktop) {
                display: none;
            }
        }
    
        &__icons {
            width: 160px;
            height: 32px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;

            @media screen and (max-width: $bp--desktop) {
                    display: none;
                }
        }
    
        h1 {
            color: rgba(43, 127, 255, 1);
            font-family: Play;
            font-size: 140px;
            font-weight: 700;
            line-height: 114px;
            text-align: left;
            margin-top: 0px;
            margin-bottom: 20px;
        }
    
        &__call-button {
            font-family: Roboto;
            width: 220px;
            height: 50px;
            border-radius: 32px;
            color: white;
            background-color: rgba(43, 127, 255, 1);
            border: 1px solid black;
            cursor: pointer;
            transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
        }
    
        &__call-button:hover {
            color: rgba(1, 28, 68, 1);
            background-color: transparent;
            border: 2px solid rgba(43, 127, 255, 1);
        }
    
        &__call {
            width: 529px;
            padding-left: 206px;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    
        &__call-paragraf {
            width: 200px;
            height: 20px;
            font-family: Roboto;
            font-size: 18px;
            font-weight: 400;
        }
    
        &__description {
            text-align: center;
            position: relative;
            right: 10px;
            width: 240px;
            height: 36px;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
        }

        &__burger{
            display: none;

            @media screen and (max-width: $bp--desktop) {
                display: block;
                margin-left: 20px;
                background: transparent;
                border: 0;
                fill: white;
                }
        }
}

