


// .circle {
//     @include circle(1000px,1000px,red)
// }



/* Call-order-window */

.backdrop {
    z-index: 1;
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    max-height: 1024px;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(1, 31, 74, 0.4);
    overflow-y: auto;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop-window {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    width: 723px;
    height: 681px;
    top: 171px;
    left: auto;
    border-radius: 48px 0px 0px 0px;
}

.close-button {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 100px;
    left: 530px;
    padding: 8px 0px 0px 0px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.submit-settings-backdrop {
    margin: auto;
    margin-bottom: 5px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
    color: rgba(250, 244, 234, 1);
    width: 280px;
    height: 53px;
    border: 1px solid black;
    border-radius: 32px;
    padding: 16px 32px 16px 32px;
    cursor: pointer;
    background-color: rgba(43, 127, 255, 1);
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.submit-settings-backdrop:hover {
    background-color: transparent;
    border: 2px solid rgba(43, 127, 255, 1);
}

