/* main-first section*/
.first-section {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 1240px;
    height: 700px;
    gap: 20px;

    @media screen and (max-width: 480px) {
           width: 320px;
           min-height: 347px;
           max-height: 400px;
           gap: 0;
        }
}



.first-section-text-information {
    width: 710px;
    height: 450px;
    padding: 30px;

    @media screen and (max-width: 480px) {
            width: 320px;
            min-height: 347px;
            max-height: 400px;
            padding: 0;
        }
}

.title-first-section {
    font-family: Play;
    font-size: 65px;
    font-weight: 700;
    width: 530px;
    height: 150px;

    @media screen and (max-width: 480px) {
            width: 264px;
            height: 76px;
            font-family: Roboto;
            font-size: 32px;
            font-weight: 500;
        }
}

.first-paragraf-fist-section {
    width: 700px;
    height: 75px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;

    @media screen and (max-width: 480px) {
            width: 320px;
            height: 63px;
            font-size: 18px;
        }
}

.second-paragraf-fist-section {
    width: 700px;
    height: 150px;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;

    @media screen and (max-width: 480px) {
            width: 320px;
            height: 168px;
            font-size: 18px;
        }

    &__text-focus{
    font-family: Roboto;
    font-size: 22px;
    font-weight: 600;
    color: rgba(1, 28, 68, 1);

@media screen and (max-width: 480px) {
        font-size: 18px;
    }
}
}

.first-paragraf-images {
    width: 500px;
    height: 695px;

    @media screen and (max-width: 480px) {
            display: none;
        }
}

.first-paragraf-images-second-image {
    display: flex;
    flex-direction: row-reverse;
}

.image{
border-radius: 50%;
width: 335px;
height: 330px;
}
