/* main-third-section*/
.main-third-section {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    max-width: 1216px;
    height: 500px;

    @media screen and (max-width: 480px){
        margin-bottom: 0;
    }
}

.arrowes-button-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-self: flex-start;
    background: transparent;
    border: 0;
    border-radius: 50%;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

.arrowes-1 {
    width: 44px;
    height: 44px;
}

.arrowes-button-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    align-self: flex-end;
    background: transparent;
    border: 0;
    border-radius: 50%;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

.arrowes-2 {
    width: 44px;
    height: 44px;
    transform: rotate(180deg);
}

.arrowes-button-1:hover {
    fill: white;
    background: rgba(43, 127, 255, 1);
    border: 0.77px solid rgba(255, 255, 255, 1)
}

.arrowes-button-2:hover {
    fill: white;
    background: rgba(43, 127, 255, 1);
    border: 0.77px solid rgba(255, 255, 255, 1)
}

.title-third-section{
    position: relative;
    text-align: center;
    width: 510px;
    height: 75px;
    margin: auto;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;

    @media screen and (max-width: 480px) {
        width: 255px;
        height: 40px;
        font-size: 32px;
        line-height: 0;
    }
}

.images-third-section {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    max-width: 1200px;
    height: 500px;
}

.images-correction-third-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0%;
}

// .images{
//     transition: transform 0.3s;
//     overflow: hidden;
// }

// .images:hover{
//     transform: scale(1.05);
// }


