.square{
    width: 100px;
    height: 100px;
    background: white;
    border:1px solid black;
    cursor: pointer;
    outline: 0;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.square:hover{
    background: gray;
    transition: .3s all ease;
}