/*base-items*/
@import './base';

/* 
.background-svg{
    margin: auto;
    display: block;
    position: absolute;
    width: 1850px;
    height: 1785px;
    left: 1200px;
    top: 1300px;

} */



@import './base';
@import './cmponents/background';
@import './cmponents/buttons';
@import './cmponents/links';
@import './utils/extra/mixins';
@import './utils/header/header';
@import './utils/main/first-section';
@import './utils/main/second-section';
@import './utils/main/third-section';
@import './utils/main/last-section';
@import './utils/footer/footer';
@import './utils/utils/utils';
@import './utils/utils/variables';


