/*base-items*/
@import './base';

/* 
.background-svg{
    margin: auto;
    display: block;
    position: absolute;
    width: 1850px;
    height: 1785px;
    left: 1200px;
    top: 1300px;

} */

@import './utils/utils'